:root{
	--hex-main-color-one: #A760FE;
	--hex-heading-font-family: 'Inter', sans-serif;
	--hex-black: #1D2939;
	--hex-black4: #475467;
	--para-color: #667085;
	--hex-lite-main-color: #F4ECFF;
}
*{
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}
p{
	font-family: 'Tajawal', sans-serif;
}

